{% extends 'ShopBundle:site:base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="product-box clearfix">
                {{ page_content.text|raw }}
            </div>
        </div>
    </div>
{% endblock %}